.start-now {
    background: #080620;
    padding: 6rem 0;
}

.start-now .start-wrap {
    border-radius: 5.4rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: linear-gradient(180deg, rgb(163, 91, 255, 0.7) 0%, rgb(129, 31, 255, .7) 100%);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 20px 80px 0px rgba(7, 5, 35, 0.75);
    backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;
    padding: 2.5rem;
}

.start-now .start-wrap .start-bg {
    width: 150%;
    height: 150%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.start-now .start-wrap p,
.start-now .start-wrap h2 {
    margin: 1rem 0;
}

.start-now .start-wrap a {
    color: #A35BFF;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    border-radius: 2rem;
    background: #FFF;
    padding: 1.5rem 2.5rem;
    display: inline-block;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: .5s ease;
}

.start-now .start-wrap a:hover {
    color: #fff;
    background-color: #A35BFF;
}


@media (max-width: 767px) {
    .start-now .start-wrap .start-bg {
        width: 180%;
        height: 180%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}