.king-of-the-hill {
    padding: 6rem 0;
    position: relative;
    isolation: isolate;
}


.king-of-the-hill .packs-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 90%;
    z-index: -1;
}

.king-of-the-hill .packs-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(8, 6, 32, .5), rgb(8, 6, 32, .5));

}

.king-of-the-hill .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.king-of-the-hill .packs-bg .bar-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(transparent, rgb(8, 6, 32) 90%);
}


/* PLAYER CARD */

.king-of-the-hill .player {
    margin: 10rem 0;
}

.king-of-the-hill .player .player-card-outer {
    max-width: 370px;

}


.king-of-the-hill .player .player-card-outer .player-card {
    border-radius: 2.4rem;
    min-height: 400px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(33, 0, 75, 0.07);
    box-shadow: 0px 24.258px 98.246px 0px rgba(7, 5, 35, 0.75);
    backdrop-filter: blur(12.129186630249023px);
}

.king-of-the-hill .player-name {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    ;
}

.king-of-the-hill .player-card-pack {
    padding: 1.5rem 1rem;
    min-height: 320px !important;
}

.king-of-the-hill .player-battle-card {
    border-radius: 1.4rem;
    border: 0.734px solid rgba(255, 255, 255, 0.15);
    background: rgba(33, 0, 75, 0.07);
    box-shadow: 0px 14.689px 59.49px 0px rgba(7, 5, 35, 0.75);
    backdrop-filter: blur(7.3444976806640625px);
    max-width: 220px;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.king-of-the-hill .player-battle-card img {
    width: 100%;
}

.king-of-the-hill .king-of-the-hill .player-battle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.king-of-the-hill .king-of-the-hill .player-battle-btn button {
    all: unset;
    display: inline-block;
    color: #A35BFF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 0.5rem 2.5rem;
    border-radius: 40rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(33, 0, 75, 0.07);
    box-shadow: 0px 20px 80px 0px rgba(7, 5, 35, 0.75);
    backdrop-filter: blur(10px);
    transition: .5s ease;

}

.king-of-the-hill .player-battles-cards {
    max-width: 370px;
    margin: 1rem auto;
}

.king-of-the-hill .player-battles-cards .item {
    width: calc(100% / 5);
    margin: 0 .3rem;

}


.king-of-the-hill .player-battles-cards .item:first-child {
    margin-left: 0;
}

.king-of-the-hill .player-battles-cards .item:last-child {
    margin-right: 0;
}

.king-of-the-hill .players-vs {
    margin: 10rem 0;
}

.players-vs h2 {
    font-size: 4.8rem;
    font-weight: 900;
    background: var(--cta, linear-gradient(180deg, #A35BFF 0%, #811FFF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.king-of-the-hill .players-vs .vs-card {
    margin: 2rem auto;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #3b176928;
    backdrop-filter: blur(20px);
    max-width: 200px;
    border-radius: 1rem;
    padding: 1.5rem;

}

.king-of-the-hill .players-vs .vs-card img {
    width: 50px;
    margin-bottom: 1rem;
}

.king-of-the-hill .players-vs .vs-card span {
    color: #757294;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.king-of-the-hill .king-player-battle-card {
    max-width: 180px;
    margin: 2rem auto;

}

.king-of-the-hill .king-player-battle-card img {
    width: 100%;
}



.king-of-the-hill .player-battle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.king-of-the-hill .player-battle-btn button {
    all: unset;
    display: inline-block;
    color: #A35BFF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 0.5rem 2.5rem;
    border-radius: 40rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(33, 0, 75, 0.07);
    box-shadow: 0px 20px 80px 0px rgba(7, 5, 35, 0.75);
    backdrop-filter: blur(10px);
    transition: .5s ease;

}

.king-of-the-hill .res {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
}

/* PLAYER CARD END */



/* POPUP */
.duel-battle {
    padding: 6rem 0;
    position: relative;
    isolation: isolate;
}

.duel-battle .packs-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 90%;
    z-index: -1;
}

.duel-battle .packs-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(8, 6, 32, .5), rgb(8, 6, 32, .5));

}

.duel-battle .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.duel-battle .packs-bg .bar-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(transparent, rgb(8, 6, 32) 90%);
}

.player {
    margin: 10rem 0;
}

.player .player-card-outer {
    max-width: 370px;

}

.player .player-card-outer .player-card {
    border-radius: 2.4rem;
    min-height: 400px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(33, 0, 75, 0.07);
    box-shadow: 0px 24.258px 98.246px 0px rgba(7, 5, 35, 0.75);
    backdrop-filter: blur(12.129186630249023px);
}

.player-name {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    ;
}

.player-card-pack {
    padding: 1.5rem 1rem;
    min-height: 320px !important;
}

.player-battle-card {
    border-radius: 1.4rem;
    border: 0.734px solid rgba(255, 255, 255, 0.15);
    background: rgba(33, 0, 75, 0.07);
    box-shadow: 0px 14.689px 59.49px 0px rgba(7, 5, 35, 0.75);
    backdrop-filter: blur(7.3444976806640625px);
    max-width: 220px;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.player-battle-card img {
    width: 100%;
}

.player-battle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.player-battle-btn button {
    all: unset;
    display: inline-block;
    color: #A35BFF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 0.5rem 2.5rem;
    border-radius: 40rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(33, 0, 75, 0.07);
    box-shadow: 0px 20px 80px 0px rgba(7, 5, 35, 0.75);
    backdrop-filter: blur(10px);
    transition: .5s ease;

}

.player-battles-cards {
    width: 100%;
    margin: 1rem 0;
}

.player-battles-cards .item {
    width: calc(100% / 5);
    margin: 0 .3rem;

}


.player-battles-cards .item:first-child {
    margin-left: 0;
}

.player-battles-cards .item:last-child {
    margin-right: 0;
}

.players-vs {
    margin: 10rem 0;
}

.players-vs h2 {
    font-size: 4.8rem;
    font-weight: 900;
    background: var(--cta, linear-gradient(180deg, #A35BFF 0%, #811FFF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.players-vs .vs-card {
    margin: 2rem auto;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #3b176928;
    backdrop-filter: blur(20px);
    max-width: 200px;
    border-radius: 1rem;
    padding: 1.5rem;

}

.players-vs .vs-card img {
    width: 50px;
    margin-bottom: 1rem;
}

.players-vs .vs-card span {
    color: #757294;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

/* MODAL POPUP START */

.battle-popup-outer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-height: 100vh;
    background: rgba(8, 6, 32, 0.40);
    backdrop-filter: blur(6px);
    z-index: 10000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: auto;
    padding: 1rem;

}

.battle-popup-outer .battle-popup {
    position: relative;
    box-sizing: border-box;
    border-radius: 2.4rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: #080620;
    box-shadow: 0px 24.258px 98.246px 0px rgba(7, 5, 35, 0.75);
    backdrop-filter: blur(12.129186630249023px);
    width:  1100px;
    padding-top: 1rem;
    padding: 2rem;


}
.battle-popup-outer .battle-popup h2{
    font-size: 3.5rem;
}
.battle-popup-outer .battle-popup .popup-bottom {
    padding: 3rem 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin-top: 4rem;
}

.battle-popup-outer .battle-popup .popup-bottom a {
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.11);
    color: #A35BFF;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 143.523%;
    text-transform: capitalize;
    padding: 1.6rem 4rem;
}

.battle-popup-outer .battle-popup .popup-bottom a.new {
    color: #fff;
    background: linear-gradient(180deg, #A35BFF 0%, #811FFF 100%);
}


.battle-popup-outer .battle-popup .popup-bottom a:hover{
    color: #fff;
    background: linear-gradient(280deg, #A35BFF 0%, #811FFF 100%);

}

.battle-popup-outer.king-of-the-hill-round .winners{
    padding-top: 5rem;
}
/* MODAL POPUP END */