.social-icon ul li a{
    font-size: 1.6rem;
    color: #fff;
    display: inline-block;
    padding: 1rem 1.5rem;
    text-decoration: none;
    font-weight: 400;
    transition: 0.4s ease;
}

.social-icon ul li a:hover{
    opacity: .7;
}
