.pack {
    padding: 8rem 0;
    position: relative;
}

.pack .packs-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;

}

.pack .packs-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(8, 6, 32, .5), rgb(8, 6, 32, .5));

}

.pack .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pack .packs-bg .bar-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(transparent, rgb(8, 6, 32) 90%);
}



.pack .pk-card {
    margin: 3rem 0;
    max-width: 350px;
}

.pack .pk-card .pack-img {
    margin: 3rem 0;
}
.pack .pk-card .pack-img  img{
    max-width: 230px ;
    margin: auto;
}

.pack .pk-card .pack-btns a {
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.11);
    color: #A35BFF;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
    /* width: 300px; */
    display: block;
    margin: 1rem auto;
    padding: 1.6rem 1rem;
    transition: .5s ease;
}

.pack .pk-card .pack-btns a.unpack {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 800;
    background: linear-gradient(180deg, #A35BFF 0%, #811FFF 100%);
}

.pack .pk-card .pack-btns a:hover {
    color: #fff;
    background: linear-gradient(260deg, #A35BFF 0%, #811FFF 100%);

}

/* CARD */
.cards {
    margin: 3rem 0;
}

.cards .card-pack {
    text-align: center;

}

.cards .card-pack .card-pk-img {
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(33, 0, 75, 0.07);
    box-shadow: 0px 20px 80px 0px rgba(7, 5, 35, 0.75);
    backdrop-filter: blur(10px);
    padding: 1.4rem;
}

.cards .card-pack span.label {
    display: inline-block;
    border-radius: 1rem;
    background: linear-gradient(180deg, #A35BFF 0%, #811FFF 100%), #D9D9D9;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.2rem 1.5rem;
    position: absolute;
    left: 3rem;
    top: -10px;
    line-height: 1;
}

.cards .card-pack p {
    margin: 1.5rem 0;
    color: #fff;
    opacity: 1;
}

.cards .card-pack a {
    display: inline-block;
    color: #A35BFF;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    padding: 0.5rem 3rem;
    border-radius: 40rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(33, 0, 75, 0.07);
    box-shadow: 0px 20px 80px 0px rgba(7, 5, 35, 0.75);
    backdrop-filter: blur(10px);
    transition: .5s ease;
}

.cards .card-pack a:hover {
    color: #fff;
    background-color: #811FFF;
}




.cards .owl-carousel .owl-stage-outer {
    overflow-x: auto;
    padding: 20px 0;
}

.cards .owl-carousel .owl-stage-outer::-webkit-scrollbar {
    display: none;
}

.cards .owl-carousel .owl-nav {
    background-color: red;
    position: absolute;
    top: 40%;
    transform: translateY(-60%);
    right: 0%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.cards .owl-carousel .owl-nav .owl-prev {
    position: absolute;

    right: 100%;
}

.cards .owl-carousel .owl-nav .owl-next {
    position: absolute;

    left: 100%;
}

.cards .owl-carousel .owl-nav button {
    opacity: 1;
    position: relative;
    background-color: transparent !important;
    margin: 1rem !important;
}

.cards .owl-carousel .owl-nav button span {
    position: relative;
    color: #A35BFF;
    background: rgba(163, 91, 255, 0.14);

    box-shadow: 0px 5px 16px rgba(50, 92, 244, 0.1);
    opacity: 1 !important;
    font-size: 40px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cards .owl-carousel .owl-nav button:hover span {
    color: #FFF;
    transition: 0.4s ease-in-out;
    background: linear-gradient(180deg, #A35BFF 0%, #811FFF 100%);
}


@media (max-width: 575px) {

    .cards .owl-carousel .owl-nav button span {
        position: relative;
        color: #A35BFF;
        background: rgba(163, 91, 255, 0.14);

        box-shadow: 0px 5px 16px rgba(50, 92, 244, 0.1);
        opacity: 1 !important;
        font-size: 30px;
        padding-bottom: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

}